<!DOCTYPE html>
<html>
	<head>
    	<title>Programación 2018-2</title>
    	<%=favicon_link_tag 'favicon.png' %>
    	<%= csrf_meta_tags %>
    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
  	<body>
  		<header class="container-fluid">
  			<div class="row">
  				<div class="logo col-xs-12 col-sm-6 col-md-6 col-lg-6">
  					<div class="row">
  						<div class="izq col-xs-6 col-sm-6 col-md-6 col-lg-6">					
  							<%= link_to image_tag('logo_unam.png'),"https://www.unam.mx/",:target => "_blank",:alt => "UNAM", :title => "UNAM" %>
  						</div>
  						<div class="der col-xs-6 col-sm-6 col-md-6 col-lg-6">
  							<h3 class="hidden-xs hidden-sm">Universidad Nacional<br>Autónoma de México</h3>
  						</div>
  					</div>

  				</div>
  				<div class="img_ciencias hidden-xs col-sm-6 col-md-6 col-lg-6">
  					<div class="opacidad hidden-xs">
  						<h2 class="hidden-xs hidden-sm">Facultad de Ciencias</h2>
  					</div>
  				</div>
  			</div>
    	</header>
    	<!--Menú-->
  			<div class="row r1">
  				<div class="barra-oro">
  				<nav class="navbar navbar-inverse">
    					<div class="navbar-header">
      						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        						<span class="icon-bar"></span>
        						<span class="icon-bar"></span>
        						<span class="icon-bar"></span>                        
      						</button>
      						<a class="navbar-brand" href="/">PROGRAMACIÓN</a>
    					</div>
    					<div class="collapse navbar-collapse" id="myNavbar">
      						<ul class="nav navbar-nav">
        						<li class="active"><%= link_to "Presentación", "/presentacion"  %></li>
        						<li class="active"><%= link_to "Profesores", "/profesores"%></li>
        						<li class="active"><%= link_to "Temario", "/temario"%></li>
        						<li class="active"><%= link_to "Evaluación", "/evaluacion"%></li>
        						<li class="active"><%= link_to "Material", "/material"%></li>
        						<li class="dropdown">
          							<a class="dropdown-toggle" data-toggle="dropdown" href="" ="#">
                          Tareas<span class="caret"></span>
                        </a>
          							<ul class="dropdown-menu">
            							<li><%= link_to "Evaluación", "/eval_tareas"%></li>
            							<li><%= link_to "Archivos", "/archivos_tareas"%></li>
          							</ul>
        						</li>
        						<li class="active"><%= link_to ("Lista Correo"),"http://www.google.com", :target => "blank"%></li>
      						</ul>	      		
    					</div>
				</nav>
			</div>
  			</div>
      <!--Contenido de la página-->
    	<div class="container-fluid" id="container">
    		<%= yield %>
      </div>
    	<footer class="container-fluid">
    	 
    	</footer>
  	</body>
</html>
